*
    box-sizing: border-box
html, body
    height: 100%
body
    font-family: 'Montserrat', sans-serif
    color: $black
h1, h2, h3, h4, h5, h6, p
    padding: 0
    margin: 0
button
    border: none
    outline: none
    cursor: pointer
a
    text-decoration: none
    cursor: pointer
    color: $black
.container
    margin: auto
.lock
    overflow: hidden
.company
    &-name
        font-weight: bold
        color: $secondary-color
    &-title
        font-weight: bold
        font-size: 35px
        line-height: 43px
    &-text
        font-size: 27px
        line-height: 33px